@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>The purpose of this application is to give you a rundown of the classes in Final Fantasy XIV. 
    Tips and tricks are also included.</p>
