
@{
    ViewBag.Title = "Dragoon";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<!doctype html>
<html>
<head>
    <title>Dragoon</title>
</head>
<body>
    <img src="" />
    <p> The Dragoon is based upon the lancer class.</p>
</body>
</html>