@{
    ViewBag.Title = "Monk";
  //  Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<!doctype html>
<html>
<head>
    <title>Monk</title>
</head>
<body>
    <img src="" />
    <p> The Monk is based upon the Pugilist class.</p>
</body>
</html>
