@{
    ViewBag.Title = "Ninja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<!doctype html>
<html>
<head>
    <title>Ninja</title>
</head>
<body>
    <img src="" />
    <p> The Ninja is its own based class, which is achieved at level ? in the ???? content.</p>
</body>
</html>

