@{
    ViewBag.Title = "Samurai (class is op.. fcking nerf it pleas Sqr Enix)";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<!doctype html>
<html>
<head>
    <title>Samurai</title>
</head>
<body>
    <img src="" />
    <p> The Samurai is its own base class, which is achieved at level 50 with the Bloodborn content.
    </p>
</body>
</html>

