@model Practice.Models.Class
@{
 
    ViewBag.Title = "Choose your class: ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>@ViewBag.Title</h2>


<button class="whatever">Select</button>

<!-- HTML HELPER EXAMPLE-->
@Html.DropDownListFor(m => m.Id, new SelectList(Model.classes, "Id", "Type"), "--Select a Class--", new { @id = "dropdown"})

@Html.Partial("_partial")


<script type="text/javascript"> // Way fucking easier in Angular... great
    $(document).ready(function () {
        $('.whatever').on('click', function (evt) {
            evt.preventDefault;
            evt.stopPropagation();

            var $partial = $('#partialDetails');
        
            var dropdown = $("#dropdown").val();
            var id = parseInt(dropdown);

            $.ajax({
                type: "POST",
                url: "@Url.Action("ReloadClass","Class")",
                data: "{ id: " + id + "}",
                contentType: "application/json",
                success: function (data) {

                    $partial.empty();
                    $partial.append(data);

                },
                error: function (data) {
                    alert("there was an error bitch");
                }
            });
        });
    });
    
</script>

