@model Practice.Models.Class
@{
 
    ViewBag.Title = "Choose your class: ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2>@ViewBag.Title</h2>


<div id="message"></div>
@*<input id="btn" type="button" value="Select" onclick="classData()" />*@
<button class="whatever">Select</button>
@*<iframe id="display">
        <div id="replace"></div>
    </iframe>*@

<!-- HTML HELPER EXAMPLE-->
@Html.DropDownListFor(m => m.Id, new SelectList(Model.classes, "Id", "Type"), "--Select a Class--", new { @id = "dropdown"})

@Html.Partial("_partial")


<script type="text/javascript">
    $(document).ready(function () {
        $('.whatever').on('click', function (evt) {
            evt.preventDefault;
            evt.stopPropagation();

            var $partial = $('#partialDetails');
        
            var dropdown = $("#dropdown").val();
            var id = parseInt(dropdown);
           
            $.ajax({
                type: "POST",
                url: "@Url.Action("ReloadClass","Class")",
                data: "{ id: " + id + "}",
                contentType: "application/json",
                success: function (data) {
                    $partial.replaceWith(data);

                },
                error: function (data) {
                    alert("there was an error bitch");
                }
            });
        });
    });
    
</script>

